* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

header {
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: 50% 0;
    background-repeat: no-repeat
}

.main-title img {
    width: 900px;
    margin: auto;
    text-align: center;
}

@media(max-width:450px) {
    .main-title img {
        width: 70vw;
        margin: auto;
    }
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.main-title p {
    font-size: 45px;
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-family: Futura;
    font-style: italic;
    font-weight: 100;
}

@media(max-width:450px) {
    .main-title p {
        font-size: 100%;
        text-align: center;
        margin-top: 20px;
        color: #fff;
        font-family: Futura;
        font-style: italic;
        font-weight: 100;
    }
}

nav {
    position: absolute;
    right: 0px;
    top: 0px;
}

@media (max-width: 450px) {
    nav {
        display: none;
    }
}

ul {
    overflow: hidden;
    margin: 0 50px;
}

ul li {
    list-style-type: none;
    float: left;
    font-size: 26px;
}

nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Futura';
    display: block;
    padding: 30px 20px 0;
}

nav a:hover {
    transition: 0.5s;
    color: #3d5cdb;
}

.introduction p {
    font-size: 12px;
    margin-bottom: 40px;
    color: #333333;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3';
}

a.i-buttons {
    color: #fff;
    text-decoration: none;
    margin-left: 140px;
    font-family: 'Futura';
    font-weight: 600;
}

#button1 {
    font-size: 20px;
    padding: 3px 40px;
    border: 4px solid #3D5CDB;
    border-radius: 12px;
    background: #3D5CDB;
}

#button2 {
    font-size: 20px;
    padding: 3px 40px;
    border: 4px solid #FFBF00;
    border-radius: 12px;
    background: #FFBF00;
}

h1 {
    text-align: center;
    font-family: 'Futura';
    font-size: 40pt;
    font-weight: 300;
    padding: 40px;
    color: #3D5CDB;
}

@media(max-width: 450px) {
    h1 {
        font-size: 200%;
        padding-bottom: 20px;
    }
}


section #introduction {
    display: flex;
    justify-content: center;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.introduction img {
    width: 500px;
    object-fit: contain;
}

.right-box {
    width: 500px;
    margin: 20px;
    line-height: 2;
}

.right-box p {
    width: 400px;
    margin: 0 auto 20px;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'MS PGothic', sans-serif;
}

.right-box a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #3D5CDB;
    color: #ffffff;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    font-size: 15pt;
    font-weight: bold;
}

.right-box a:hover {
    box-shadow: 0 2px 15px 2px rgba(133, 140, 142, 0.4);
}

.left-box {
    width: 500px;
    margin: 20px;
    line-height: 2;
}

.left-box p {
    width: 400px;
    margin: 0 auto 20px;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'MS PGothic', sans-serif;
}

.left-box a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #ffbf00;
    color: #ffffff;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    font-size: 15pt;
    font-weight: bold;
}

.left-box a:hover {
    box-shadow: 0 2px 15px 2px rgba(133, 140, 142, 0.4);
}

@media(max-width:450px) {
    .introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        flex-wrap: wrap;
        font-size: 13px;
    }

    .introduction img {
        width: 100%;
        object-fit: contain;
    }

    .right-box {
        width: 100%;
        margin-bottom: 20px;
        line-height: 2;
    }

    .right-box p {
        width: 90%;
        margin: 0 auto;
        font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif;
    }

    .right-box a {
        display: block;
        margin: 30px auto;
        text-decoration: none;
        width: 170px;
        height: 40px;
        background-color: #3D5CDB;
        color: #ffffff;
        border-radius: 12px;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
    }

    .left-box {
        width: 100%;
        margin-bottom: 20px;
        line-height: 2;
    }

    .left-box p {
        width: 90%;
        margin: 0 auto;
        font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif;
    }

    .left-box a {
        display: block;
        margin: 30px auto;
        text-decoration: none;
        width: 170px;
        height: 40px;
        background-color: #ffbf00;
        color: #ffffff;
        border-radius: 12px;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
    }

    .introduction2 {
        flex-wrap: wrap-reverse;
    }
}

#courses {
    background-color: rgba(186, 213, 245, 0.6);
    z-index: 1;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1;
}


.course {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


@media (min-width: 768px) {
    .course-box {
        width: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px) {
    .course-box {
        width: 1170px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.course-box {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.course_info {
    width: 180px;
    height: 280px;
    background-color: #ffffff;
    margin: 10px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(106, 137, 152, 0.2);
}


.course_img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}

.course_img img {
    width: 100px;
    object-fit: contain;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.course_info h2 {
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif;
    font-size: 11pt;
    text-align: center;
    margin: 10px;
    padding-top: 20px;
    color: #183c61;
}


.course_info a {
    display: block;
    margin: 15px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #ffbf00;
    color: #ffffff;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
}


.course_info a:hover {
    box-shadow: 0 2px 15px 2px rgba(133, 140, 142, 0.4);
}

@media(max-width: 450px) {

    .course_info {
        width: 100px;
        height: 180px;
        background-color: #ffffff;
        margin-top: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 3px rgba(106, 137, 152, 0.2);
    }

    .course_img {
        width: 90px;
        height: 90px;
        margin: 0 auto;
        position: relative;
    }

    .course_img img {
        width: 50px;
        object-fit: contain;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        margin-top: 5px;
    }

    .course_info h2 {
        font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif;
        font-size: 10px;
        text-align: center;
        margin: 10px;
        margin-top: 80px;
        color: #183c61;
    }

    .course_info a {
        display: block;
        margin: 15px auto;
        text-decoration: none;
        width: 100px;
        height: 40px;
        background-color: #ffbf00;
        color: #ffffff;
        border-radius: 20px;
        text-align: center;
        line-height: 40px;
        font-size: 10px;
        font-weight: bold;
    }

    .course_info a:hover {
        box-shadow: 0 2px 15px 2px rgba(133, 140, 142, 0.4);
    }
}


.title {
    text-align: center;
    font-family: 'Futura';
    font-size: 40pt;
    font-weight: 300;
    padding: 40px;
    color: #3D5CDB;
}

@media(max-width: 450px) {
    .title {
        font-size: 200%;
        padding-bottom: 20px;
    }
}

.access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

@media(max-width: 450px) {
    .map {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 75%;
    }

    .map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.footer p {
    font-size: 12px;
    text-align: center;
    color: #3D5CDB;
    padding-bottom: 15px;
    font-family: 'Futura';
    font-weight: lighter;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

/*
#particles-js {
z-index: -1;
}
*/

.slider {
    width: 80%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0 auto;
}

.slick-slide img {
    height: auto;
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}

.slick-dots {
    bottom: -30px;
    display: flex;
    justify-content: center;
}

/*ふわっと表示*/
.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
