* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

#header {
    width: 100%;
    overflow: hidden;
    padding: 0px 0px;
}

.main-visual {
    width: 100%;
    height: 700px;
    background: #fff url(background4.jpg) 0 0 no-repeat;
    background-size: cover;
}

#logo {
    padding-top: 170px;
    margin: auto 220px;
}

nav {
    position: absolute;
    right: 0px;
    top: 0px;
}

ul {
    overflow: hidden;
    margin: 0 50px;
}

ul li {
    list-style-type: none;
    float: left;
    font-size: 26px;
}

nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Futura';
    display: block;
    padding: 30px 20px 0;
}

nav a:hover {
    transition: 0.5s;
    color: #3d5cdb;
}

h1 {
    text-align: center;
}

.main-title h1 {
    font-size: 45px;
    padding-top: 40px;
    color: #fff;
    font-family: 'Futura';
    font-weight: lighter;
}

.introduction {
    width: 1030px;
    margin: 0 auto;
    padding: 16px 0;
    overflow: hidden;
}

.introductions h1 {
    margin: 30px;
    margin-top: 40px;
    font-size: 53px;
}

.introduction p {
    font-size: 12px;
    margin-bottom: 40px;
    color: #333333;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3';
}

.introduction a:hover {
    box-shadow: 0 0 8px gray;
}

div.introduction1 {
    padding-bottom: 30px;
}

.right-box {
    float: right;
    margin: 20px;
    padding-top: 30px;
    padding-bottom: 120px;
}

.left-box {
    float: left;
    margin: 70px 40px;
    padding-bottom: 120px;
}

a.i-buttons {
    color: #fff;
    text-decoration: none;
    margin-left: 140px;
    font-family: 'Futura';
    font-weight: 600;
}

#button1 {
    font-size: 20px;
    padding: 3px 40px;
    border: 4px solid #3D5CDB;
    border-radius: 12px;
    background: #3D5CDB;
}

#button2 {
    font-size: 20px;
    padding: 3px 40px;
    border: 4px solid #FFBF00;
    border-radius: 12px;
    background: #FFBF00;
}

.course {
    background-color: #BAD5F5;
    height: 1000px;
    overflow: hidden;
}

.course h1 {
    font-size: 53px;
    margin: 44px;
}

.course-box {
    padding-left: 120px;
}

.course-item {
    padding: 30px 20px;
    width: 200px;
    height: 275px;
    margin: 10px;
    margin-bottom: 25px;
    background: #FFF;
    border: solid 0 none;
    border-radius: 13px;
    box-shadow: 0 0 9px #b0c4de;
}

.course-item img {
    margin: auto;
}

.course-item p {
    text-align: center;
    padding-bottom: 33px;
    font-size: 15px;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3';
    font-weight: 600;

}

.course-item {
    float: left;
}

.course-item a:hover {
    box-shadow: 0 0 10px #dcdcdc;
}

/*コースのボタン*/
#button3 {
    color: #fff;
    font-family: 'Futura';
    font-weight: 600;
    text-decoration: none;
    padding: 7px 20px;
    border: 4px solid #f16529;
    border-radius: 12px;
    background: #f16529;

}

#button4 {
    color: #fff;
    font-family: 'Futura';
    font-weight: 600;
    text-decoration: none;
    padding: 7px 20px;
    border: 4px solid #29a9df;
    border-radius: 12px;
    background: #29a9df;
}

#button5 {
    color: #fff;
    font-family: 'Futura';
    font-weight: 600;
    text-decoration: none;
    padding: 7px 20px;
    border: 4px solid #323232;
    border-radius: 12px;
    background: #323232;
}

#button6 {
    color: #fff;
    font-family: 'Futura';
    font-weight: 600;
    text-decoration: none;
    padding: 7px 20px;
    border: 4px solid #ff5252;
    border-radius: 12px;
    background: #ff5252;
}

#button7 {
    color: #fff;
    font-family: 'Futura';
    font-weight: 600;
    text-decoration: none;
    padding: 7px 20px;
    border: 4px solid #fed701;
    border-radius: 12px;
    background: #fed701;
}

#button8 {
    color: #fff;
    font-family: 'Futura';
    font-weight: 600;
    text-decoration: none;
    padding: 7px 20px;
    border: 4px solid #fe7536;
    border-radius: 12px;
    background: #fe7536;
}

#button9 {
    color: #fff;
    font-family: 'Futura';
    font-weight: 600;
    text-decoration: none;
    padding: 7px 20px;
    border: 4px solid #73cedd;
    border-radius: 12px;
    background: #73cedd;
}

/*コース画像位置*/
#unity {
    margin-top: 40px;
}

#ruby {
    margin-top: 40px;
}

#swift {
    margin-top: 50px;
}

#go {
    margin-top: 40px;
}



.box2 {
    margin-left: 130px;
}

.images {
    height: 350px;
}

.images h1 {
    font-size: 53px;
    margin: 40px;
}

.access {
    height: 600px;
    overflow: hidden;
}

.access h1 {
    font-size: 53px;
    margin: 45px;
}

.title {
    color: #3D5CDB;
    font-family: 'Futura';
    font-weight: lighter;
}

.access {
    width: 600px;
    margin: 0 auto;
}

.footer p {
    font-size: 12px;
    text-align: center;
    color: #3D5CDB;
    padding-bottom: 15px;
    font-family: 'Futura';
    font-weight: lighter;
}

.multiple {
    padding: 0;
}

.multiple img {
    width: 100%;
}

.multiple div {
    margin: 0 5px;
}

.multiple .slick-next {
    right: 17px;
    z-index: 100;
}

.multiple .slick-prev {
    left: 23px;
    z-index: 100;
}
